 {
	"name": "Project",
	"elements":  {
		"08795744-c2dc-4a68-8252-4e21c4c4c774":  {
			"name": "Subtitle",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"2e3c9e69-1f9e-4647-8d13-4e88094d2790":  {
			"name": "Text",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"034cbda5-aea6-47eb-9c34-20cc8f7b824e":  {
			"name": "Screenshots",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"instancelimit": "",
			"files":  {
				"_mode": "folders",
				"_default_source": "",
				"_extensions": "bmp|gif|jpg|jpeg|png",
				"_websafe_mode": "utf-8",
				"_source_dir": "images",
				"_max_upload_size": "1024"
			},
			"specific":  {
				"_custom_options": "1",
				"_custom_title": "1",
				"_custom_link": "1",
				"_custom_lightbox": "1",
				"_custom_spotlight": "1"
			},
			"type": "imagepro"
		},
		"313ceb4e-f859-4945-963b-d70e2bc74c3c":  {
			"name": "Adres",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default_target": "1",
			"add_protocol": "1",
			"type": "link"
		},
		"bcccca5c-0578-4886-a048-5e094efd3fa8":  {
			"name": "Samenwerking",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"0b08ded9-a713-490c-920b-e4f3475375ff":  {
			"name": "Technieken",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "PHP",
					"value": "php"
				},
				"1":  {
					"name": "Javascript\/Ajax",
					"value": "javascript-ajax"
				},
				"2":  {
					"name": "HTML \/ CSS",
					"value": "html-css"
				},
				"3":  {
					"name": "Joomla! Framework",
					"value": "joomla-framework"
				},
				"4":  {
					"name": "Bixie Printshop 1",
					"value": "bixie-printshop"
				},
				"5":  {
					"name": "Bixie Printshop 2.5",
					"value": "bixie-printshop-2-5"
				},
				"6":  {
					"name": "ZOO van Yootheme",
					"value": "zoo-van-yootheme"
				},
				"7":  {
					"name": "VirtueMart webwinkel",
					"value": "virtuemart-webwinkel"
				}
			},
			"type": "checkbox"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	},
	"zl": null
}