 {
	"blog.project.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774",
				"separated_by": "separator=[ ]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			},
			"2":  {
				"altlabel": "",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64",
				"layout": "",
				"link_to_item": "0",
				"order": "",
				"separated_by": "separator=[ ]",
				"showlabel": "1"
			}
		}
	},
	"blog.project.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "313ceb4e-f859-4945-963b-d70e2bc74c3c"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "widgetkit.php",
					"widgetkit":  {
						"_widget": "gallery",
						"_style": "wall",
						"settings":  {
							"order": "default",
							"effect": "zoom",
							"margin": "margin",
							"corners": "round",
							"zl_captions": "1",
							"_custom_caption": "",
							"spotlight_effect": "",
							"spotlight_duration": "",
							"lightbox": "1",
							"width": "",
							"height": "",
							"avoid_cropping": "0",
							"lightbox_caption": "1",
							"_lightbox_custom_title": "",
							"lightbox_settings":  {
								"titlePosition": "float",
								"transitionIn": "fade",
								"transitionOut": "fade",
								"overlayShow": "true",
								"overlayColor": "",
								"overlayOpacity": "",
								"padding": ""
							}
						}
					}
				},
				"specific":  {
					"_width": "100",
					"_height": "100",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "034cbda5-aea6-47eb-9c34-20cc8f7b824e"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"taxonomy":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Samenwerking met",
				"separated_by": "separator=[, ]",
				"element": "bcccca5c-0578-4886-a048-5e094efd3fa8"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Actief vanaf",
				"date_format": "custom",
				"custom_format": "%B %Y",
				"element": "_itempublish_up"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"element": "0b08ded9-a713-490c-920b-e4f3475375ff"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemprevnext"
			}
		}
	},
	"blog.project.related":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c",
				"height": "",
				"showlabel": "0",
				"width": ""
			}
		},
		"subtitle":  {
			"0":  {
				"altlabel": "",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "0",
				"showlabel": "0"
			}
		}
	},
	"blog.project.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "ff1ed5b5-4365-457e-98bb-026366028bd7"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "6af341e4-f0e9-4605-b2a5-60d7a3525a96"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "fdcbebaa-e61a-462d-963e-aff74ff95499"
			}
		}
	},
	"blog.project.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "widgetkit.php",
					"widgetkit":  {
						"_widget": "gallery",
						"_style": "wall",
						"settings":  {
							"order": "default",
							"effect": "zoom",
							"margin": "",
							"corners": "round",
							"zl_captions": "1",
							"_custom_caption": "",
							"spotlight_effect": "top",
							"spotlight_duration": "",
							"lightbox": "1",
							"width": "auto",
							"height": "auto",
							"avoid_cropping": "0",
							"lightbox_caption": "1",
							"_lightbox_custom_title": "",
							"lightbox_settings":  {
								"titlePosition": "float",
								"transitionIn": "fade",
								"transitionOut": "fade",
								"overlayShow": "true",
								"overlayColor": "",
								"overlayOpacity": "",
								"padding": ""
							}
						}
					}
				},
				"specific":  {
					"_width": "150",
					"_height": "150",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "0",
					"_limit": "1"
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "034cbda5-aea6-47eb-9c34-20cc8f7b824e"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "first",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "313ceb4e-f859-4945-963b-d70e2bc74c3c"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "Details",
				"element": "_itemlink"
			}
		}
	},
	"blog.article.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": ""
				},
				"layout": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "custom",
				"custom_format": "| %A, %d %B %Y",
				"separated_by": "separator=[ ]",
				"element": "2616ded9-e88b-4b77-a92c-2c4c18bb995f"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "200",
				"height": "200",
				"link_to_item": "1",
				"element": "cdce6654-4e01-4a7f-9ed6-0407709d904c"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "first",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "Lees meer",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"blog.article.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemprevnext"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemedit"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "08795744-c2dc-4a68-8252-4e21c4c4c774"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "2616ded9-e88b-4b77-a92c-2c4c18bb995f"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "300",
				"height": "300",
				"link_to_item": "0",
				"element": "c26feca6-b2d4-47eb-a74d-b067aaae5b90"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"taxonomy":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "0bee21e2-8f88-4f5b-83af-686cd1c7ef4b"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[<br \/>]",
				"element": "fdcbebaa-e61a-462d-963e-aff74ff95499"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "d857d939-47e9-4303-8f37-93b0cecace54"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": ""
				},
				"layout": "",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			}
		},
		"author":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": ""
				},
				"layout": "related",
				"link_to_item": "0",
				"separated_by": "separator=[ ]",
				"element": "fc5a6788-ffae-41d9-a812-3530331fef64"
			}
		}
	},
	"blog.author.related":  {
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "ffefb4ed-8d5d-452a-8794-ea82c013384e"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "14c0dd9f-ae3c-4eb2-8e22-4e9294ad3120"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "ac84af6f-ec56-4228-b421-ba3981399abe"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "4d431350-4f70-45cc-9922-a973ce0fa61f"
			}
		}
	},
	"blog.author.full":  {
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "ffefb4ed-8d5d-452a-8794-ea82c013384e"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "14c0dd9f-ae3c-4eb2-8e22-4e9294ad3120"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "ac84af6f-ec56-4228-b421-ba3981399abe"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "4d431350-4f70-45cc-9922-a973ce0fa61f"
			}
		},
		"article":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": ""
				},
				"layout": "",
				"link_to_item": "1",
				"separated_by": "separator=[ ]",
				"element": "d6540bb8-d194-4bb0-879f-86e07c3f7a17"
			}
		}
	}
}